html, body {
    overflow: hidden;
  }
  
  .container {
    height: 100vh;
    overflow: hidden;
  }
  
  .content {
    height: 100%;
    overflow: auto;
  }

/* Hide the scrollbar in the Power BI report */
.scrollbar-inner > .scroll-element .scroll-bar {
  display: none !important;
  visibility: hidden !important;
}


